<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>Nuevo libro</h1>
            <hr>

            <form action="/libros/crear" method="POST">
                <div class="mb-3 mt-5">
                    <label for="bookTitle" class="form-label">Título</label>
                    <input type="text" class="form-control" id="bookTitle" name="title">
                </div>

                <div class="mb-3">
                    <label for="bookDesc" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="bookDesc" name="description">
                </div>

                <div class="mb-3 ">
                    <label for="bookAuthor" class="form-label">Autor/a</label>
                    <input type="text" class="form-control" id="bookAuthor" name="author">
                </div>

                <div class="mb-3 ">
                    <label for="bookRating" class="form-label">Puntuación</label>
                    <input type="number" class="form-control" id="bookRating" name="rating">
                </div>

                <button type="submit" class="btn btn-dark">Crear libro</button>
            </form>

        </div>
    </div>



</div>