<div class="container">
    <h1>{{siteTitle}} 🚀</h1>
    <p>Welcome Ironhacker!</p>
    <hr>
    <a href="/libros/listado" class="btn btn-dark">Ver libros</a>
    <a href="/libros/crear" class="btn btn-dark">Crear libro</a>
</div>